custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/bundle
vim/plugged
vim/sessions
.netrwhist
bin/subl
tags

fish/fishd.*
fish/conf.d/**/*
fish/functions/__*
fish/config.personal.fish

vim/*.log
