[submodule "fisherman/ssh-agent"]
	path = fisherman/ssh-agent
	url = https://github.com/tuvistavie/fish-ssh-agent
[submodule "fisherman/theme"]
  path = fisherman/theme
  url = https://github.com/oh-my-fish/plugin-theme
[submodule "fisherman/zish"]
  path = fisherman/zish
  url = https://github.com/oh-my-fish/theme-zish
[submodule "iTerm2/Dracula"]
	path = iTerm2/Dracula
	url = https://github.com/dracula/iterm.git
